<header class="bg-dark py-2">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="text-light bg-dark" >
            <button
                class="navbar-toggler"
                type="button"
                (click)="onNavigate()"
                aria-expanded="false"
                aria-label="Toggle navigation">Tasktracker
            </button>
        </div>
        <div>
        <button class="btn btn-dark" (click)="onClickTasks()">My tasks</button>
        <button class="btn btn-dark" (click)="onClickProjects()">My projects</button>
        <button class="btn btn-dark" (click)="onClickWorkReport()">Work report</button>
        <button class="btn btn-dark" (click)="onLogOut()">Log out</button>
        </div>
    </div>
</header>
